<!DOCTYPE html>
<html lang='pt-br' xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta charset='utf-8'>
    <title>Mensagem Portal</title>

</head>

<body style='padding-left: 100px;font-family: Arial; padding-right: 100px;'>
    <div>
        <table id='TabelaPrincipal' style='width: 100%; border: 1px solid lightgray;' cellspacing='0'>
            <tr style=' background-color: #376991; color: white;' align='center'>
                <td colspan='3'>
                    <h3 style='margin-top: 7px; margin-bottom: 7px;'>Mailing Recebimento Fiscal</h3>
                </td>
            </tr>
        </table>
        <br />
		 <table id='EstadoTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold;font-size:20px;background-color: #007bff; color: white;'>#DataEnvio
                </td>
            </tr>
        </table>
        <table id='EstadoTabela'
            style='width: 100%; margin-top: 25px; margin-bottom: 0px; border-bottom: 5px solid black;border-top: 6px solid black;'
            cellspacing='0'>
            <tr style='vertical-align: top;' align='center'>
                <td colspan='1' align='center'
                    style='font-weight:bold;font-size:20px; color: white; background-color: #ff0000;'>NOTAS NÃO INTEGRADAS - #notas
                </td>
            </tr>
        </table>
		 <br />
       
        <table id='PrimeiraTabela' style='width: 100%;' cellspacing='0'>
            <tr style='vertical-align: top; background-color: #035277; color:white;' align='center'>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Emissão da Nota
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Série - Número da nota
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    CNPJ do Fornecedor
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Razão Social do Fornecedor
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;border-right: 0px;'>
                    Natureza da Operação
                </td>
                <td colspan='1' align='center' style='font-weight:bold; font-size: 14px; border: thin solid black;'>
                    Valor Total de Produtos da Nota
                </td>
            </tr>
			#TabelaNotas
        </table>
    </div>
</body>
</html>